<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Userlist:</h1>
<hr/>
<form th:action="@{/search/?name=} + ${name}" method="get">
    <div><label>Search user by name:<input type="text" name="name" placeholder="name"/> </label>
    <input type="submit" value="Search" /></div>
</form>
<hr/>
<a href="/add"><input type="submit" value="ADD"/></a>
<table>
    <thead>
    <tr>
        <td>#</td>
        <td>NAME</td>
        <td>AGE</td>
        <td>CREATED</td>
        <td>ADMIN</td>
        <td>DELETE</td>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td><a th:href="@{/user/} + ${user.id}" th:text="${user.name}">Title ...</a></td>
        <td th:text="${user.age}">Text ...</td>
        <td th:text="${user.createdDate}">Text ...</td>
        <td th:text="${user.admin}">Text ...</td>
        <td><form th:object="${user}" th:action="@{/user/} + ${user.id}" th:method="delete"><input type="submit" value="DELETE"/></form></td>
    </tr>
</table>

<!-- PAGINATOR -->
<div>
        <ul>
            <li>
            <span th:if='${page == 1}'>← First</span>
            <a th:if='${page != 1}' th:href='@{/1}'>← First</a>
            </li>
            <li>
            <span th:if='${page == 1}'>«</span>
            <a th:if='${page > 1}' th:href='@{/} + ${page - 1}' title='Go to previous page'>«</a>
            </li>
            <li th:each='p : ${pages}'>
            <span th:if='${p} == ${page}' th:text='${page}'>1</span>
            <a th:if='${p} != ${page}' th:href='${p}'><span th:text='${p}'>1</span></a>
            </li>
            <li>
            <span th:if='${page} == ${lastpage}'>»</span>
            <a th:if='${!{page >= lastpage}}' th:href='@{/} + ${page + 1}' title='Go to next page'>»</a>
            </li>
            <li>
            <span th:if='${page} == ${lastpage}'>Last →</span>
            <a th:if='${page} != ${lastpage}' th:href='@{/} + ${lastpage}'>Last →</a>
            </li>
        </ul>
</div>
</body>
</html>